<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- 100 MB in bytes -->
				<requestLimits maxAllowedContentLength="209715200" />
			</requestFiltering>
		</security>

		<!-- Increase timeout to 10 minutes -->
		<aspNetCore processPath="dotnet"
					arguments=".\GittBilSmsCore.dll"
					stdoutLogEnabled="true"
					stdoutLogFile=".\logs\stdout"
					hostingModel="inprocess"
					requestTimeout="00:10:00">
		</aspNetCore>
	</system.webServer>
</configuration>